@page "/data"

@rendermode Program.ServerRenderMode
@inherits ReactiveInjectableComponentBase<XPortViewModel>

<DualPanel>
    <LeftPanel>
        <MudStack>
            <MudText Typo="Typo.h4">Load</MudText>
            <MudFileUpload T="IBrowserFile" FilesChanged="@LoadFile">
                <ActivatorContent>
                    <MudButton Style="width: 100%" StartIcon="@Icons.Material.Filled.Upload" Variant="Variant.Filled" Color="Color.Primary">
                        Load
                    </MudButton>
                </ActivatorContent>
            </MudFileUpload>

            <MudText Typo="Typo.h4">Save</MudText>
            <MudButton StartIcon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Primary" OnClick="@Save">Save</MudButton>

            <MudText Typo="Typo.h4">Mappings</MudText>
            <MudText Typo="Typo.body1">Mapping count = @ViewModel!.MappingCount</MudText>

            <MudText Typo="Typo.h5">Load</MudText>
            <MudStack>
                <MudTextField T="string" MaxLength="15000"
                              Label="JSON" Variant="Variant.Outlined" Lines="15" @bind-Value="ViewModel!.Mappings" />
                <MudButton Disabled="!ViewModel!.CanLoad" Variant="Variant.Filled" Color="Color.Primary"
                           OnClick="@ViewModel!.LoadMappings.OnExecute()">Load</MudButton>
            </MudStack>
        </MudStack>
    </LeftPanel>
    <RightPanel>
        <MudText Typo="Typo.h3">Example</MudText>
        <MudText>(Ref: <a href="https://github.com/wiremock/WireMock.Net/wiki/Stubbing">WireMock.Net</a>)</MudText>
        <MudText Class="border" Style="white-space: pre">
    [
        {
            "Guid": "38a2df08-7a3a-4d31-a2a8-17f5613a5a72",
            "Request": {
                "Path": {
                    "Matchers": [
                        {
                            "Name": "WildcardMatcher",
                            "Pattern": "/some/thing"
                        }
                    ]
                },
                "Methods": [ "GET" ]
            },
            "Response": {
                "StatusCode": 200,
                "Body": "Hello world!",
                "Headers": {
                    "Content-Type": "text/plain"
                }
            }
        }
    ]
        </MudText>
    </RightPanel>
</DualPanel>