@using WireMock.Types

<MudSimpleTable Dense="true">
    @{ var title = Title ?? "Headers"; }
    <thead>
    <tr>
        <th>@title</th><th>Value</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var header in Headers){
        <tr @key="header.Key">
            <td>@header.Key</td>
            <td>@header.Value</td>
        </tr>
    }
    </tbody>
</MudSimpleTable>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public required IDictionary<string, WireMockList<string>> Headers { get; set; }
}