@inherits ReactiveComponentBase<HttpTransactionViewModel>

<MudGrid @key="ViewModel!.Id">
    <MudItem md="6" Class="pa-8">
        <RequestPanel ViewModel="ViewModel!.RequestVm" />
    </MudItem>

    <MudItem md="6" Class="pa-8">
        @if (ViewModel!.ResponseVm is null){
            <div class="container">
                <MudSkeleton Width="50em" Height="1em" Class="mb-2"/>
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="50em" Height="10em"/>
            </div>
        }
        else {
            <ResponsePanel ViewModel="ViewModel!.ResponseVm" />
        }
    </MudItem>
</MudGrid>

@code {

}