@inherits ReactiveComponentBase<RequestPanelViewModel>

<MudStack>
    <MudStack Row="true" AlignItems="AlignItems.Baseline">
        <MudChip T="string" Color="Color.Primary" Class="mr-2">@ViewModel!.Method</MudChip>
        <MudText Typo="Typo.body1">@ViewModel!.Path</MudText>
        <MudSpacer />
        <MudText Typo="Typo.body2">
            @{ var d = ViewModel!.Timestamp; }
            @d.LocalDateTime.ToLongDateString() @d.LocalDateTime.ToLongTimeString()
        </MudText>
    </MudStack>

    @if (ViewModel!.Queries.Count > 0){
        <HeaderTable Color="Color.Info" Title="Query" Headers="ViewModel!.Queries" />
    }

    <HeaderTable Headers="ViewModel!.Headers" />

    @if (ViewModel!.Body is not null){
        <div class="pa-4 code-panel">
            @ViewModel!.Body
        </div>
    }
</MudStack>