@inherits ReactiveComponentBase<ResponsePanelViewModel>

<MudStack>
    <MudStack Row="true" AlignItems="AlignItems.Baseline">
        <MudChip T="string" Color="ViewModel!.StatusCodeColor" Class="pr-2">@ViewModel!.StatusCode</MudChip>
        <MudText Typo="Typo.body2" Color="ViewModel!.StatusCodeColor">@ViewModel!.StatusCodeText</MudText>
        <MudSpacer />
        <MudText Typo="Typo.subtitle2" Color="Color.Primary">(@ViewModel!.ElapsedTime.TotalMilliseconds.ToString("N2") ms)</MudText>
        <MudText Typo="Typo.body2">
            @{ var d = ViewModel!.Timestamp; }
            @d.LocalDateTime.ToLongDateString() @d.LocalDateTime.ToLongTimeString()
        </MudText>
    </MudStack>

    <HeaderTable Headers="ViewModel!.Headers" />

    @if (ViewModel!.Body is not null){
        <div class="pa-4 code-panel">
            @ViewModel!.Body
        </div>
    }
</MudStack>