.code-panel {
    font-family: monospace;
    background: black;
    color: lime;
    white-space: pre-wrap;
    overflow-x: auto;
}

.screen-height {
    height: 100vh;
}

.max-height {
    height: 100%;
}

