<ShellAppBar>
    <Title>
        <MudText Typo="Typo.h5"><SectionOutlet SectionName="appbar-title" /></MudText>
    </Title>
    <Actions>
        <MudAvatar Color="Color.Secondary">JD</MudAvatar>
    </Actions>
</ShellAppBar>

<SectionContent SectionName="appbar-title">
    <MudText Typo="Typo.h5">WireMock Log Viewer</MudText>
</SectionContent>