@page "/Services"

@inject ShellViewModel Shell

<h3>Services</h3>

@code {

    protected override void OnInitialized() {
        Shell.SetHeader("Manage services");
        base.OnInitialized();
    }

}